.message-wrapper--their {
  justify-content: flex-start;
}


.message-wrapper--their .message {
  margin-right: 0;
  margin-left: 12px;
  background-color: #f7e58b;
  border: 1px solid #e6d581;
}

.message-wrapper--their .message::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 8px solid #f7e58b;
  border-bottom: 6px solid transparent;
}
