.message-wrapper {
  display: flex;
  justify-content: flex-end;
}

.message {
  position: relative;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 4px 10px;
  background-color: #c6e8f1;
  border: 1px solid #badae3;
  border-radius: 8px;
}

.message-wrapper--mine .message {
  padding: 4px 12px;
}

.message-wrapper--mine .message::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 8px solid #c6e8f1;
  border-bottom: 6px solid transparent;
}

.text {
  display: inline-block;
  font-size: 21px;
  margin: 5px 0;
}

.time {
  color: #676767;
}
